@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
        format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'Pretendard' !important;
}

body, p {
    margin: 0;
}

button {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}