:root {
    --background: #121117;
    --primary: #52DD63;
    --second-primary: #252831;
    --third-primary: #30343F;

    --yellow: #FEDC00;
    --yellow-hover: #E4C600;

    --green-light: #81FF90;

    --gray-dark: #4D5365;
    
    --white-80: rgba(255, 255, 255, 0.8);
    --white-50: rgba(255, 255, 255, 0.5);

    --black-50: rgba(0, 0, 0, 0.5);

    --disabled: #B2B2BB;

};